.carousel-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper {
    display: flex;
    gap: 1em;
    overflow: hidden;
    width: 55.5em;
    margin: 0 auto;
}

.inner {
    display: flex;
    gap: 1em;
    transition: transform 0.5s ease-in-out;
}

.cardd {
    flex: 0 0 17.5em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    background: white;
    height: 200px;
    width: 400px;
}



.cardd > .contentt {
    
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 1em;
    text-align: center;
}

.cardd > .contentt > h1 {
    color: #fff;
    font-size: 1.25rem;
    margin: 0.35em 0;
    line-height: 1;
}

.cardd > .contentt > h3 {
    color: #ccc;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.35em 0;
}

.map {
    margin-top: 1em;
    text-align: center;
}

.map > button {
    all: unset;
    background: #e0e0e0;
    cursor: pointer;
    margin: 0 0.25em;
    position: relative;
    user-select: none;
    border-radius: 100%;
    height: 0.75em;
    width: 0.75em;
    transition: background-color 0.3s ease;
}

.map > button.activee {
    background: #0a2640;
    transform: scale(1.2);
}
.map > button:nth-child(n+4) {
    display: none;
}