.carousel-container {
    padding: 2em;
    max-width: 100vw;
    margin: 0 auto;
    overflow: visible;
}

.wrapper {
    display: flex;
    gap: 2em;
    overflow: visible;
    margin: 0 auto;
    width: calc(100% + 4em);
    padding: 0;
    margin-left: -2em;
}

.inner {
    display: flex;
    gap: 1em;
    transition: transform 0.5s ease-in-out;
    margin-left: 60px;
}

.cardd {
    flex: 0 0 calc((100% - 4em) / 3);
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    background: white;
    height: 300px;
    min-width: 400px;
    max-width: 400px;
    margin-left: 70px;
   margin-right: 70px;
}
.center{
    margin-top: 80px;
}



.cardd > .contentt > h1 {
    color:#0a2640;
    font-size: 1.25rem;
    margin: 0.35em 0;
    line-height: 1;
}

.cardd > .contentt > h3 {
    color: #0a2640;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.35em 0;
}

.map {
    margin-top: 1em;
    text-align: center;
}

.map > button {
    all: unset;
    background: #e0e0e0;
    cursor: pointer;
    margin: 0 0.25em;
    position: relative;
    user-select: none;
    border-radius: 100%;
    height: 0.75em;
    width: 0.75em;
    transition: background-color 0.3s ease;
}

.map > button.activee {
    background: #0a2640;
    transform: scale(1.2);
}
.map > button:nth-child(n+4) {
    display: none;
}